#animations {
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 25px;
}

.align-animations {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
}

.animations__message {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.animations__container__image {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 20px;
}

.animations__container__image__item {
    display: flex;
    flex-flow: column;
    width: 300px;
}

.animations__container__image__item__img {
    background: var(--chinese-silver);
    width: 300px;
    border-radius: 1rem;
}

.animations__container__image__item__title {
    font-size: 2.2rem;
    text-align: center;
}