html {
    overflow-x: hidden;
}

.container {
    display: flex;
    width: 100vw;
}

.container-transparent {
    display: flex;
    width: 100vw;
}

.container:nth-child(even) {
    background: var(--chinese-silver);
}

.container:nth-child(odd) {
    background: var(--gainsboro);
}