#games {
	flex-flow: column;
    align-items: center;
    padding: 8% 0;
    gap: 25px;
}

.games__message {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
}

.games__container__image {
	display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.games__container__image__item {
    display: flex;
    flex-flow: column;
    width: 300px;
    gap: 15px;
}

.games__container__image__item__img {
    background: var(--spanish-gray);
    width: 300px;
    border-radius: 1rem;
}

.games__container__image__item__title {
    font-size: 2.2rem;
    text-align: center;
}