.menu {
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    background: var(--university-of-california-gold);
    border-bottom: .1rem var(--davys-grey) solid;
    z-index: 1;
}

.menu__list {
    display: flex;
    list-style: none;
    margin: 5px;
    padding: 5px 10px;
}

.menu__list__item {
    display: flex;
    margin: 0 15px;
}

.menu__list__item__link {
    display: flex;
    margin: 5px;
    text-decoration: none;
    font-family: 'Euphoria Script', cursive;
    font-size: 2rem;
    color: var(--gainsboro);
}

.active {
    color: var(--davys-grey);
}