#presentation {
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.presentation__description {
    display: flex;
    flex-flow: column;
    align-self: center;
    width: 50%;
}

.presentation__description p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.45rem;
    word-spacing: 12px;
    letter-spacing: .05rem;
    line-height: 1.95rem;
    margin: 8px 0;
}

strong {
    font-weight: 900;
    color: var(--skobeloff);
}

.presentation__external-links {
    color: var(--skobeloff);
    transition: all 1s ease-in-out;
}

.presentation__external-links:hover {
    color: var(--turquoise-surf);
    transition: all 1s ease-in-out;
}


.presentation__profile-images__img-1 img {
    width: 150px;
    padding: .2rem;
    position: relative;
    left: -2px;
    z-index: -1;
}

.presentation__profile-images__img-1__screen {
    border: .32rem var(--taupe-gray) solid;
    border-radius: 5rem;
    width: 133px;
    height: 133px;
    z-index: 0;
}

.presentation__profile-images__img-1--cut {
    -webkit-mask-image: radial-gradient(circle, black 54%, rgba(0, 0, 0, 0) 5%);
    mask-image: radial-gradient(circle, black 0%, rgba(0, 0, 0, 0) 5%);
    -webkit-mask-position: center -30px;
    mask-position: 50px center;
    position: relative;
    top: -8px;
    left: -1px;
}

.presentation__profile-images__img-2 img {
    width: 100px;
    flex-flow: row;
    border: .3rem var(--taupe-gray) solid;
}

.presentation__profile-images__img-3 img {
    width: 110px;
    flex-flow: row;
    background: var(--chinese-silver);
    border: .3rem var(--taupe-gray) solid;
}

.presentation__profile-images div img:only-child {
    border-radius: 3.5rem;
}

.presentation__profile-images__img-1 {
    position: relative;
    left: 35%;
}

.presentation__profile-images__img-2 {
    position: relative;
    left: -12%;
}

.presentation__profile-images__img-3 {
    position: relative;
    left: 65%;
    top: -23%;
}