@import url('./variables.css');

#projects {
	flex-flow: column;
    align-items: center;
    padding: 8% 0;
    gap: 50px;
}

.projects__container {
    display: flex;
}

.projects__message {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: calc(var(--general-text-default) + .05rem); 
}

.projects__container__image {
	display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 50px;
}

.projects__container__image__item {
    display: flex;
    flex-flow: column;
    background: var(--card-color);
    padding: 5px 5px 25px 5px;
    border-radius: 25px;
    width: 320px;
    gap: 8px;
}

.projects__container__image__item__iframe {
    border-radius: .6rem;
    width: 180%;
    height: 100px;
    margin-bottom: -40px;
    /* Configuração zoom iframe Interno */
    zoom: 4;
    /* Configuração tamanho iframe Interno */
    -moz-transform: scale(0.55);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.55);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.55);
    -webkit-transform-origin: 0 0;
}

.projects__container__image__item__link__site {
    text-decoration: none;
}

.projects__container__image__item__link__site--title {
    font-family: var(--text-projects);
    font-size: calc(var(--general-text-default) + .7rem);
    font-weight: 800;
    letter-spacing: .12rem;
    text-align: center;
    color: var(--black);
    transition: all .4s ease-in-out;
}

.projects__container__image__item__link__site--title:hover {
    color: var(--info-color);
    transition: all .4s ease-in-out;
}

.projects__container__image__item__link__github-project {
    text-decoration: none;
}

.projects__container__image__item__link__github-project--title {
    font-family: var(--text-projects);
    font-size: calc(var(--general-text-default) - 0.45rem);
    text-align: center;
    color: var(--black);
    letter-spacing: .13rem;
    transition: color .4s ease-in-out;
}

.projects__container__image__item__link__github-project--title:hover {
    color: var(--info-color);
    transition: color .4s ease-in-out;
}

.projects__container__image__item--tecnologies {
    font-family: var(--text-projects);
    font-size: calc(var(--general-text-default) - 0.05rem);
    letter-spacing: .13rem;
    text-align: center;
}

.projects__container__image__item--usergit {
    font-family: var(--text-projects);
    font-size: calc(var(--general-text-default) + 0.15rem);
    font-weight: 600;
    letter-spacing: .13rem;
    text-align: center;
}

/* ------------------------- */
/* - Animations Card  - PC - */
/* ------------------------- */
.projects__container__image__item__iframe {
    z-index: 1;
}

.projects__container__image__item :only-child,
.projects__container__image__item h2  {
    position: relative;
    top: -220px;
    z-index: 0;
    opacity: 0;
    transition: opacity 1.5s ease-in, top .8s ease-in;
}

.projects__container__image__item:hover :only-child,
.projects__container__image__item:hover h2  {
    position: relative;
    top: 0px;
    opacity: 1;
    transition: opacity 1.5s ease-in, top .8s ease-in;
}


@media screen and (max-width: 1024px) {
    .projects__container__image__item :only-child,
    .projects__container__image__item h2  {
        position: relative;
        top: 0px;
        opacity: 1;
        transition: opacity 1.5s ease-in, top .8s ease-in;
    }
}