@import url('./variables.css');

#skills {
    flex-flow: column;
    align-items: center;
    gap: 25px;
    padding: 8% 0;
}

.skills__knowledge-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 70%;
    gap: 50px;
}

#skills__knowledge-container__section--web-tecnologies,
#skills__knowledge-container__section--front,
#skills__knowledge-container__section--back,
#skills__knowledge-container__section--database,
#skills__knowledge-container__section--methodology,
#skills__knowledge-container__section--ide,
#skills__knowledge-container__section--server-application,
#skills__knowledge-container__section--shared-code,
#skills__knowledge-container__section--others {
    background: var(--chinese-silver);
    font-family: 'Montserrat', sans-serif;
    border-radius: 1rem;
    padding: 2% 3%;
    width: 210px;
}

.skills__title {
    font-family: 'Euphoria Script', cursive;
    display: flex;
    font-size: calc(var(--general-text-default) + .95rem); 
    text-align: center;
    height: 90px;
    justify-content: center;
    align-items: center;
}

.skills__message {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: var(--general-text-default);
    margin-top: 1.5rem;
}

.skills__legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 50px;
    padding: 20px 15px;
    border-radius: 1rem;
    background-color: var(--card-color);
    gap: 35px;
}

.skills__legend li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.skills__legend li p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: calc(var(--general-text-default) - .55rem);
}

.skills__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.skills__list__item {
    display: flex;
    gap: 10px;
    letter-spacing: .05rem;
    padding: 3px 2px 3px 0;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--card-color);
    border-radius: 15px;
}

.skills__list__item--details {
    display: flex;
    font-size: var(--text-cards);
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.skills__list__item--details p {
    width: 140px;
}

.skills__list__item--details-info {
    background-color: var(--card-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: calc(var(--general-text-default) - .45rem);
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    clear: left;
}

.skills__list__item__img {
    height: 25px;
}

.circle__first, 
.circle__second, 
.circle__third, 
.circle__fourth {
    width: 6px;
    height: 6px;
    border-radius: 520px;
}

.circle__first {
    background: var(--legend-first);
    box-shadow: 
        0 0 5px var(--legend-first), 
        0 0 10px var(--legend-first), 
        0 0 15px var(--legend-first), 
        0 0 5px var(--legend-first), 
        0 0 10px var(--legend-first), 
        0 0 15px var(--legend-first),
        0 0 1px var(--legend-first);
}

.circle__second {
    background: var(--legend-second);
    box-shadow: 
        0 0 5px var(--legend-second), 
        0 0 10px var(--legend-second), 
        0 0 15px var(--legend-second), 
        0 0 5px var(--legend-second), 
        0 0 10px var(--legend-second), 
        0 0 15px var(--legend-second),
        0 0 1px var(--legend-second);
}

.circle__third {
    background: var(--legend-trird);
    box-shadow: 
        0 0 5px var(--legend-trird), 
        0 0 10px var(--legend-trird), 
        0 0 15px var(--legend-trird), 
        0 0 5px var(--legend-trird), 
        0 0 10px var(--legend-trird), 
        0 0 15px var(--legend-trird),
        0 0 1px var(--legend-trird);
}

.circle__fourth {
    background: var(--legend-fourth);
    box-shadow: 
        0 0 5px var(--legend-fourth), 
        0 0 10px var(--legend-fourth), 
        0 0 15px var(--legend-fourth), 
        0 0 5px var(--legend-fourth), 
        0 0 10px var(--legend-fourth), 
        0 0 15px var(--legend-fourth),
        0 0 1px var(--legend-fourth);
}