/* colors of site 
name color create by color-name 
https://www.color-name.com/hex */

:root {
    --skobeloff: #00747C;
    --turquoise-surf: #00BBC9;
    --chinese-silver: #CACACA;
    --gainsboro: #dedede;
    --taupe-gray: #878787;
    --raisin-black: #202022;
    --white: #ffffff;
    --black: #000000;

}