/* colors of site 
name color create by color-name 
https://www.color-name.com/hex */

:root {
    --skobeloff: #00747C;
    --turquoise-surf: #00BBC9;
    --chinese-silver: #CACACA;
    --gainsboro: #dedede;
    --taupe-gray: #878787;
    --raisin-black: #202022;
    --white: #ffffff;
    --black: #000000;
    --card-color: #bababa;

    --success-color: #2ECC71;
    --info-color: #3498DB;
    --alert-color: #F1C40F;
    --suggestion-color: #FFA07A;

    /* Tamanho de Photos Presentation */
    --size-img1: 245px;
    --size-img2: 220px;
    --size-img3: 220px;
    --border-radius-img1: 150px;
    --border-radius-img2n3: 120px;

    --size-img1-mob-landscape: 180px;
    --size-img2-mob-landscape: 140px;
    --size-img3-mob-landscape: 140px;

    --general-text-default: 1.35rem; 

    --text-projects: Shadows Into Light,cursive;
}